# ignore backup files
*~
.Rhistory
.Rproj.user

# ignore compiled files
docs/
_bookdown*

# ignore installation files
installSimBIID.R

# ignore testTrace plot
testTrace.pdf

# ignore final PDF
StatModellingPracticals.pdf

# ignore zips
*.zip

