@import url("https://code.cdn.mozilla.net/fonts/fira.css");
.book.font-family-0 {font-family: Fira Sans, serif;}
.book.font-family-1 {font-family: Fira Sans, sans-serif;}

.book .book-summary{left:-430px;width:430px;}.book .book-body .page-wrapper .page-inner{max-width:670px;}@media (min-width: 600px) {.book.with-summary .book-header.fixed {left: 430px;}.book.with-summary .book-body{left:430px}}@media (max-width: 600px) {.book.with-summary .book-header.fixed {min-width: 430px;}.book.with-summary .book-body {min-width: 430px;}}

button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #404040;
    color: white;
    border-color: #404040;
}

.panel-default > .panel-heading1 {
    background-image: none;
    background-color: #808080;
    color: white;
    border-color: #808080;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #b2b2b2
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #808080;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #808080;
}
